{% load static %}
<head>
  </head>
  <body>
    {% include 'Base.html' %}
    <div class="container">
      {%if user.is_authenticated%}
      <br>
      <div class="container">
        <center><a href="{% url 'logout' %}">
          <button type="button" class="btn btn-primary">Logout</button>
        </a></center>
        <br>
        <center><h1>Hello, {{ user.username }}</h1></center>
        <br>
        <center><p><i class=bintang></i><span id="suka">Favorites: {{ count }}</span></p></center>
      </div>
      {%else%}
      <div class="container">
        <br>
        <center>
          <a href="{% url 'social:begin' 'google-oauth2' %}">
            <button type="button" class="btn btn-primary">Login with Google</button></a>
          <br>
        </center>
        </div>
      {%endif%}
      <h1 class="text-center my-4 par">List of Books</h1>
      <p class="text-center my-4 par">Favorites: <a id="suka">0</a></p>
      <div class="form-group">
        <form id="searchbook" method="POST" action= "{% url 'data' %}">
          {% csrf_token %}
          <br>
          <input type="text" id="myInput" placeholder="Search for names.." style="color: black;" name="search" title="Type in a name">
            <button class="btn">Submit</button>
        </form>
      <table class="table table-hover">
              <thead>
                  <tr>
                      <th class="par">Title</th>
                      <th class="par">Authors</th>
                      <th class="par">Publisher</th>
                      <th class="par">Published Date</th>
                      <th class="par">Add to Favorite</th>
                  </tr>
              </thead>
              <tbody class="par" id="book_list">

              </tbody>
      </table>
    </div>
  </div>

  <script>
     {%if data%}
      
        var result = JSON.parse("{{data|escapejs}}");
        var item = result["items"]
        console.log("masuk di yang html")
          var line = " ";
          for(i=0;i < item.length; i++){
            var res = item[i]
            var image = res["volumeInfo"]["imageLinks"]["smallThumbnail"]
            var author = res["volumeInfo"]["authors"]
            var publisher = res["volumeInfo"]["publisher"]
            var date = res["volumeInfo"]["publishedDate"]
            line += "<tr><td><img src=" + image + "></td>"
            line += "<td>" + author + "</td>"
            line += "<td>" + publisher + "</td>"
            line += "<td>" + date + "</td>"
            line += "<td><button type='button' id='buttonbintang' class='bintang'><img src='/static/staroff.png' height='30px' width='30px'></button></td></tr>"
          }
          $("#book_list").html(line);
    {%endif%}
</script>
  </body>