<head>
  <style>
/* Center the loader */
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    /* width: 120px;
    height: 120px; */
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
  }

  #myDiv {
    display: none;
    text-align: center;
  }
  </style>
</head>
<body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>
  <div style="display:none;" id="myDiv" class="animate-bottom">
    {% include 'Base.html' %}
    <div class="container">
      <div>
        <div>
          <br>
          <center><img class="workpic" src="https://i.imgur.com/zy5GbW9.jpg" width="300px" height="300px"></center>
        </div>
        <hr>
        <div>
          <br>
          <center><p class="paragraph par">-Faiz Fadhillah Soemawilaga-</p></center>
          <center><p class="paragraph par">1706027515</p></center>
          <br>
          <div id="accordion">
            <h3>Aktivitas Saat Ini</h3>
            <div>
              <p>
                Ngoding PPW Story 8
              </p>
            </div>
            <h3>Pengalaman Organisasi/Kepanitiaan</h3>
            <div>
              <p>
                Selama kuliah di Fasilkom saya telah mendaftar kepanitiaan
              </p>
              <ul>
                <li>Humas dan Publikasi, OH Fasilkom UI</li>
                <li>Sponsorship, CGT Fasilkom UI</li>
                <li>Bendahara, DPM Fasilkom UI</li>
                <li>Chatbot Invasion, COMPFEST</li>
                <li>Bendahara, PEMIRA Fasilkom UI</li>
                <li>Publikasi, Universiade UI</li>
              </ul>
            </div>
              <h3>Prestasi</h3>
              <div>
                <p>
                  2nd place, Game-a-thon Swiss German University
                </p>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <script>
    var myVar;

    function myFunction() {
      myVar = setTimeout(showPage,10);
    }

    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("myDiv").style.display = "block";
    }
    </script>
</body>
